body {
  --color-text : #fff;
  --color-text-lg: #333;
  --font-size-xs: 14px;
  --font-size-sm: 16px;
  --font-size-md: 18px;
  --color-background-lg: #f5f5f5;
  --color-background-md: #333;
  --color-background-style: #E4E4E4;
  --color-border-xs: #f1f1f1;
}
/*.footer-button {*/
  /*width: 200px;*/
  /*height: 40px;*/
  /*margin: 48px 80px;*/
/*}*/

/*.button-white{*/
  /*width: 100%;*/
  /*color: var(--color-text);*/
  /*height: 44px;*/
  /*display: flex;*/
  /*font-size: var(--font-size-xs);*/
  /*background: var(--color-background-lg);*/
  /*align-items: center;*/
  /*font-weight: bold;*/
  /*justify-content: center;*/
/*}*/

.button-black{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color-background-md);
  color: var(--color-text);
  font-weight: bold;
  font-size: var(--font-size-md);
  cursor: pointer;
}

.icon-hidden,
.icon-displayPicture{
  font-size: 13px;
}
.con-categoryList,
.icon-block,
.icon-video,
.icon-tagList{
  font-size: 15px;
}
.icon-scrollBanner-single,
.icon-displayPicture-single{
  font-size: 14px;
}
.icon-scrollBanner{
  font-size: 17px;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.icon-style1,
.icon-style2,
.icon-style3,
.icon-style4,
.icon-style5 {
  font-size: 32px;
}

.gu-mirror {
  position: fixed;
  margin: 0;
  z-index: 9999;
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=100);
}
.gu-hide {
  display: none;
}
.gu-unselectable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}


/* --------- andt --------- */
.ant-input{
  height: 38px;
  border-radius: 0;
  font-size: var(--font-size-sm);
  color: var(--color-text-lg);
}

.ant-calendar-time .ant-calendar-footer{
  padding: 4px 0 0;
  border-top: none;
}
.ant-calendar-time .ant-calendar-footer-btn{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px 12px;
  border-top: 1px solid #e8e8e8;
}


.ant-upload.ant-upload-select-picture-card{
  width: 100%;
  height: 100%;
  border-radius: 0;
  margin: 0;
  border: none;
}

.ant-upload.ant-upload-select-picture-card >.ant-upload {
  padding: 0;
}

.ant-collapse-borderless{
  border-radius: 0;
  border-bottom: 2px solid var(--color-border-xs);
  border-top: 2px solid var(--color-border-xs);
  font-size: var(--font-size-sm);
}

.ant-collapse-borderless .ant-collapse-item{
  border: none;
}

.ant-collapse-borderless .ant-collapse-item .ant-collapse-header{
  padding: 0!important;
  height: 56px;
  display: flex;
  align-items: center;
}

.ant-collapse-borderless .ant-collapse-item .ant-collapse-header .arrow{
  left: inherit;
  right: 24px;
}

.ant-collapse-borderless .ant-collapse-item .ant-collapse-content{
  color: var(--color-text-lg);
  border-radius: 0;
}

.ant-collapse-borderless .ant-collapse-item .ant-collapse-content .ant-collapse-content-box{
  padding: 0 0 0 60px;
}

.ant-collapse-borderless .ant-collapse-item .ant-collapse-content ul{
  margin: 0;
}

.ant-carousel .slick-slide {
  text-align: center;
  height: 100%;
  overflow: hidden;
}

.ant-carousel .slick-dots li button{
  height: 8px;
  background: #585757;
  opacity: 0.6;
}
.ant-carousel .slick-dots li.slick-active button{
  background: #333;
}

.ant-upload.ant-upload-select {
}
.ant-upload-list-item-uploading-text{
  line-height: 18px;
}
.ant-upload-list-item-actions > a{
  display: none;
}

.ant-spin{
  line-height: 1;
}
