{
  "presets": [
    ["es2015",{"loose":true}],
    "stage-1",
    "react"
  ],
  "plugins": [
    "react-hot-loader/babel",
    "transform-runtime",
    "transform-decorators-legacy",
    ["import", { "libraryName": "antd", "style": "css" }]
  ]
}
