@import "../../common/less/variable.less";
@import "../../common/less/mixin.less";

.wrapper{
  position: relative;
  margin-top: 18px;
}

.icon{
  flex: 0 0 60px;
  display: flex;
  justify-content: center;
  color: @color-text-md;
}

.text{
  font-size: @font-size-sm;
  color: @color-text-lg;
  .no-wrap()
}

.link{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: @font-size-lg;
  color: @color-text-sm;
}
.active{
  color: @color-text;
}
.lineClamp{
  bottom: -2px;
  position: absolute;
  left: 10px;
  width: 152px;
  height: 3px;
  background: @color-background-3E4B5B;
  transition: all .2s linear;
}
