@import "../../common/less/variable.less";
@import "../../common/less/mixin.less";

.left{
  flex: 1;
  display: flex;
}

.display{
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: @font-size-sm;
  border-bottom: 1px solid @color-border-3D4957;
  color: @color-text-D7DDE6;
  &:last-child{
    border-bottom: none;
  }
  &:first-child{
    border-top: 1px solid @color-border-3D4957;
  }
}
.displayL{
  display: flex;
  align-items: center;
}

.displayS{
  margin-right: 25px;
}

.iconDropDown{
  flex: 0 0 18px;
  margin-right: 24px;
  transition: all .2s linear;
  color: @color-text-D7DDE6;
}
.icon{
  flex: 0 0 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: @color-text-md;
}
.text{
  font-size: @font-size-sm;
  color: @color-text-lg;
  line-height: 22px;
  .no-wrap()
}
.listLeft{
  flex: 1;
  display: flex;
}

.btn{
  flex: 0 0 50px;
  width: 50px;
  height: 26px;
  line-height: 26px;
  margin-right: 10px;
  background: @color-background-152232;
  border-radius: 4px;
  color: @color-text-D7DDE6;
  text-align: center;
  font-weight: bold;
  font-size: @font-size-xs;
  cursor: pointer;
}
