@import "../../common/less/variable.less";

.btnItems{
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: @color-text-lg;
  &:hover{
    background: @color-background-lg;
  }
}

.icon {
  flex: 0 0 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text{
  flex: 1;
  font-size: @font-size-xs;
}

.modalContent{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 46px 0 26px;
}

.formContainer{
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  &:last-child{
    margin-bottom: 0;
  }
}

.formText{
  flex: 0 0 92px;
  text-align: right;
  margin-right: 30px;
}

.msgContainer{
  width: 100%;
  margin-top: 20px;
  padding: 15px 20px 15px;
  background: #ebf0f7;
  color: #327ad5;
  border-left: 5px solid #8bb4e7;
  h2{
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
    color: #327ad5;
  }
  p{
    line-height: 1.5;
  }
}

.revertContent{
  width: 100%;
}

.evertHeader,
.revertItem{
  width: 100%;
  height: 38px;
  display: flex;
  align-items: center;
}

.revertFirst{
  flex: 0 0 64px;
  height: 100%;
}
